<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoOfTurnPageVIew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04CFCFD21DB8C2BB000C7935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CFCFEB1DB8C2BC000C7935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CFCFF61DB8C2BC000C7935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
